@import 'bootstrap/scss/bootstrap';

.ribbon-white {
    background-color: rgba(255,255,255,0.3);
}
.img-clip-home {
  width: 100%;
}
.home-intro {
    max-width: 30%;
}

.callout-quote {
    border-radius: 25px;
    background-color: #fff;
    padding: 20px;
}

